{
  "extends" : [
    "airbnb-base",
    "eslint:recommended",
    "plugin:eslint-comments/recommended"
  ],
  "rules": {
    "eslint-comments/no-use": ["error", {"allow": []}],
    "no-underscore-dangle": ["error", { "allow": ["_id"]}],
    "no-console": 0,
    "no-unused-expressions": 1
  }
}